.content {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    linear-gradient(
      119.25deg,
      #102f7e -11.47%,
      #0c8dd6 3.95%,
      #1aa0ec 19.37%,
      #60c6ff 34.78%,
      #9bdbff 50.19%,
      #b4deda 65.61%,
      #ffd66b 81.02%,
      #ffc178 96.44%,
      #fe9255 111.85%
    );

  height: 100vh;
}

.flex-container {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row {
  width: auto;
}
.flex-item {
  padding: 5px;
  width: 20px;
  height: 20px;
  margin: 10px;
  line-height: 20px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.main {
  width: 100%;
}

.mb-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-wrap {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    #f8f8f8;
  box-shadow: 0px 2px 10px rgba(8, 21, 62, 0.15);
  border-radius: 16px;
  padding: 20px;
  width: 25%;
  display: flex;
}

input {
  margin-bottom: 0;
  background: url(../assets/search-icon.png) no-repeat scroll 7px 7px;
  background-position: 98% 50%;
}

.country-select {
    margin-right: 20px;
    width: 100px;
    margin-bottom: 0;
    background: url(../assets/flags/germany.ico) no-repeat scroll 7px 7px;
    padding-left: 30px;
    background-position: 10% 60%;
}
