<div class="content flex-container">
  <div class="row">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">@</span>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="Enter Location"
        aria-label="Username"
        aria-describedby="basic-addon1"
        [(ngModel)]="city"
        (blur)="onBlurMethod()"
      />
    </div>

    <router-outlet></router-outlet>
  </div>
</div>
