.container {
  width: inherit;
  display: flex;
  flex-direction: column;
}
.overview {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.days-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.day {
  width: 120px;
}
