.container {
  width: inherit;
  display: flex;
  flex-direction: column;
}
.overview {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
}

.days-part {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.day {
  width: 120px;
}
