/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  font-family: 'Poppins';
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

app-weather-widget {
  width: 100%;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
